In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 0.

In [2]:
CT_df = pd.read_excel('../data/0XXXX/connit_jobs.xlsx', skiprows=12)
ME_df = pd.read_excel('../data/0XXXX/maine_jobs.xlsx', skiprows=12)
MA_df = pd.read_excel('../data/0XXXX/massach_jobs.xlsx', skiprows=12)
NH_df = pd.read_excel('../data/0XXXX/new_hamp_jobs.xlsx', skiprows=12)
NJ_df = pd.read_excel('../data/0XXXX/new_jersey_jobs.xlsx', skiprows=12)
RI_df = pd.read_excel('../data/0XXXX/rhode_island_jobs.xlsx', skiprows=12)
VT_df = pd.read_excel('../data/0XXXX/vermont_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 0XXXX.

In [3]:
combined_df = pd.concat([CT_df,ME_df,MA_df,NH_df,NJ_df,RI_df,VT_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region0_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region0_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region0_jobs['percent_change'] = region0_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region0_2000 = region0_jobs.iloc[0,1]
region0_2010 = region0_jobs.iloc[10,1]
region0_2020 = region0_jobs.iloc[20,1]

In [9]:
region0_2000_2010_change = (region0_2010-region0_2000)/region0_2000 *100
region0_2010_2020_change = (region0_2020-region0_2010)/region0_2010*100
region0_20_year_change = (region0_2020-region0_2000)/region0_2000*100

ZIP 0 REGIONAL FINDINGS

In [10]:
region0_jobs

    Year  employment_by_thosands  percent_change
0   2000             1576.701190             NaN
1   2001             1579.947619        0.205900
2   2002             1562.577381       -1.099419
3   2003             1550.591667       -0.767048
4   2004             1557.476190        0.443993
5   2005             1569.775000        0.789663
6   2006             1584.482143        0.936895
7   2007             1593.711905        0.582510
8   2008             1590.139286       -0.224170
9   2009             1531.520238       -3.686410
10  2010             1522.916667       -0.561767
11  2011             1531.819048        0.584561
12  2012             1549.894048        1.179970
13  2013             1568.509524        1.201081
14  2014             1587.159524        1.189027
15  2015             1608.601190        1.350946
16  2016             1631.396429        1.417084
17  2017             1649.388095        1.102838
18  2018             1662.971429        0.823538
19  2019             1677.926190        0.899280
20  2020             1545.302381       -7.904031

REGION 0 2000-2010

In [11]:
region0_2000_2010_change

-3.4112058857062424

REGION 0 2010-2020

In [12]:
region0_2010_2020_change

1.4699237834668648

REGION 0 2000-2020

In [13]:
region0_20_year_change

-1.991424228856395

In [14]:
region0_jobs.to_csv('../data/zip0.csv',index=False)