In [17]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 1.

In [18]:
DE_df = pd.read_excel('../data/1XXXX/delware_jobs.xlsx', skiprows=12)
NY_df = pd.read_excel('../data/1XXXX/new_york_jobs.xlsx', skiprows=12)
PA_df = pd.read_excel('../data/1XXXX/pennsylvania_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 1XXXX.

In [19]:
combined_df = pd.concat([DE_df,NY_df,PA_df])

3. Group data by year, first step to find the mean for the region.

In [20]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [21]:
region1_jobs = avg_job_growth.mean(axis=1).reset_index()

In [22]:
region1_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [23]:
region1_jobs['percent_change'] = region1_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [24]:
region1_2000 = region1_jobs.iloc[0,1]
region1_2010 = region1_jobs.iloc[10,1]
region1_2020 = region1_jobs.iloc[20,1]

In [25]:
region1_2000_2010_change = (region1_2010-region1_2000)/region1_2000 *100
region1_2010_2020_change = (region1_2020-region1_2010)/region1_2010*100
region1_20_year_change = (region1_2020-region1_2000)/region1_2000*100
region1_jobs['employment percent change since 2000']=(region1_jobs['employment_by_thosands']-region1_jobs.iloc[0,1])/(region1_jobs.iloc[0,1])*100
region1_jobs['employment percent change since 2010']=(region1_jobs['employment_by_thosands']-region1_jobs.iloc[10,1])/(region1_jobs.iloc[10,1])*100

ZIP 1 REGIONAL FINDINGS

In [26]:
region1_jobs

,Year,employment_by_thosands,percent_change,employment percent change since 2000,employment percent change since 2010
0,2000,4910.766667,NaN,0.000000,1.044813
1,2001,4893.455556,-0.352513,-0.352513,0.688616
2,2002,4835.683333,-1.180602,-1.528953,-0.500115
3,2003,4809.038889,-0.550996,-2.071525,-1.048356
4,2004,4840.230556,0.648605,-1.436356,-0.406551
5,2005,4885.941667,0.944399,-0.505522,0.534009
6,2006,4933.105556,0.965298,0.454896,1.504462
7,2007,4985.727778,1.066716,1.526465,2.587226
8,2008,5005.097222,0.388498,1.920893,2.985775
9,2009,4857.347222,-2.951991,-1.087803,-0.054355
10,2010,4859.988889,0.054385,-1.034009,0.000000
11,2011,4931.336111,1.468053,0.418864,1.468053
12,2012,4988.508333,1.159366,1.583086,2.644439
13,2013,5042.230556,1.076920,2.677054,3.749837
14,2014,5116.350000,1.469973,4.186380,5.274932
15,2015,5190.761111,1.454379,5.701644,6.806028
16,2016,5256.525000,1.266941,7.040822,8.159198
17,2017,5320.138889,1.210189,8.336218,9.468129
18,2018,5385.958333,1.237175,9.676527,10.822441
19,2019,5440.691667,1.016223,10.791085,11.948644
20,2020,4952.447222,-8.973941,0.848759,1.902439

In [27]:
region1_jobs.to_csv('../data/zip1.csv',index=False)