In [2]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 2.

In [3]:
DC_df = pd.read_excel('../data/2XXXX/dc_jobs.xlsx', skiprows=12)
MD_df = pd.read_excel('../data/2XXXX/md_jobs.xlsx', skiprows=12)
NC_df = pd.read_excel('../data/2XXXX/nc_jobs.xlsx', skiprows=12)
SC_df = pd.read_excel('../data/2XXXX/sc_jobs.xlsx', skiprows=12)
VA_df = pd.read_excel('../data/2XXXX/va_jobs.xlsx', skiprows=12)
WV_df = pd.read_excel('../data/2XXXX/wv_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 2XXXX.

In [4]:
combined_df = pd.concat([DC_df,MD_df,NC_df,SC_df,VA_df,WV_df])

3. Group data by year, first step to find the mean for the region.

In [5]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [6]:
region2_jobs = avg_job_growth.mean(axis=1).reset_index()

In [7]:
region2_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [8]:
region2_jobs['percent_change'] = region2_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [9]:
region2_2000 = region2_jobs.iloc[0,1]
region2_2010 = region2_jobs.iloc[10,1]
region2_2020 = region2_jobs.iloc[20,1]

In [10]:
region2_2000_2010_change = (region2_2010-region2_2000)/region2_2000 *100
region2_2010_2020_change = (region2_2020-region2_2010)/region2_2010*100
region2_20_year_change = (region2_2020-region2_2000)/region2_2000*100

ZIP 2 REGIONAL FINDINGS

In [11]:
region2_jobs

    Year  employment_by_thosands  percent_change
0   2000             2182.150000             NaN
1   2001             2175.204167       -0.318302
2   2002             2161.758333       -0.618141
3   2003             2155.370833       -0.295477
4   2004             2189.641667        1.590020
5   2005             2231.597222        1.916092
6   2006             2278.756944        2.113272
7   2007             2313.358333        1.518433
8   2008             2310.079167       -0.141749
9   2009             2217.183333       -4.021327
10  2010             2211.645833       -0.249754
11  2011             2239.204167        1.246055
12  2012             2270.627778        1.403338
13  2013             2298.365278        1.221578
14  2014             2328.298611        1.302375
15  2015             2375.441667        2.024786
16  2016             2415.750000        1.696877
17  2017             2447.779167        1.325848
18  2018             2487.459722        1.621084
19  2019             2518.705556        1.256134
20  2020             2388.965278       -5.151070

REGION 2 2000-2010

In [12]:
region2_2000_2010_change

1.351686792078152

REGION 2 2010-2020

In [13]:
region2_2010_2020_change

8.017533448255284

REGION 2 2000-2020

In [14]:
region2_20_year_change

9.477592181003953

In [15]:
region2_jobs.to_csv('../data/zip2.csv',index=False)