In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 3.

In [2]:
AL_df = pd.read_excel('../data/3XXXX/al_jobs.xlsx', skiprows=12)
FL_df = pd.read_excel('../data/3XXXX/fl_jobs.xlsx', skiprows=12)
GA_df = pd.read_excel('../data/3XXXX/ga_jobs.xlsx', skiprows=12)
MS_df = pd.read_excel('../data/3XXXX/ms_jobs.xlsx', skiprows=12)
TN_df = pd.read_excel('../data/3XXXX/tn_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 3XXXX.

In [3]:
combined_df = pd.concat([AL_df,FL_df,GA_df,MS_df,TN_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region3_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region3_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region3_jobs['percent_change'] = region3_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region3_2000 = region3_jobs.iloc[0,1]
region3_2010 = region3_jobs.iloc[10,1]
region3_2020 = region3_jobs.iloc[20,1]

In [9]:
region3_2000_2010_change = (region3_2010-region3_2000)/region3_2000 *100
region3_2010_2020_change = (region3_2020-region3_2010)/region3_2010*100
region3_20_year_change = (region3_2020-region3_2000)/region3_2000*100
region3_jobs['employment percent change since 2000']=(region3_jobs['employment_by_thosands']-region3_jobs.iloc[0,1])/(region3_jobs.iloc[0,1])*100
region3_jobs['employment percent change since 2010']=(region3_jobs['employment_by_thosands']-region3_jobs.iloc[10,1])/(region3_jobs.iloc[10,1])*100

ZIP 3 REGIONAL FINDINGS

In [10]:
region3_jobs

,Year,employment_by_thosands,percent_change,employment percent change since 2000,employment percent change since 2010
0,2000,3374.738333,NaN,0.000000,1.435486
1,2001,3372.950000,-0.052992,-0.052992,1.381734
2,2002,3348.611667,-0.721574,-0.774183,0.650189
3,2003,3355.396667,0.202621,-0.573131,0.854128
4,2004,3431.698333,2.273998,1.687835,3.147549
5,2005,3529.430000,2.847910,4.583812,6.085098
6,2006,3604.501667,2.127020,6.808330,8.341549
7,2007,3628.858333,0.675729,7.530065,9.073644
8,2008,3554.983333,-2.035764,5.341007,6.853162
9,2009,3351.186667,-5.732704,-0.697881,0.727587
10,2010,3326.980000,-0.722331,-1.415171,0.000000
11,2011,3360.733333,1.014534,-0.414995,1.014534
12,2012,3415.866667,1.640515,1.218712,2.671692
13,2013,3483.271667,1.973291,3.216052,4.697704
14,2014,3572.036667,2.548323,5.846330,7.365739
15,2015,3674.408333,2.865919,8.879800,10.442754
16,2016,3774.725000,2.730145,11.852376,13.458001
17,2017,3843.515000,1.822384,13.890756,15.525642
18,2018,3918.908333,1.961573,16.124806,17.791761
19,2019,3990.953333,1.838395,18.259638,19.957238
20,2020,3810.531667,-4.520766,12.913396,14.534252

In [11]:
region3_jobs.to_csv('../data/zip3.csv',index=False)