In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 4.

In [2]:
IN_df = pd.read_excel('../data/4XXXX/IN_jobs.xlsx', skiprows=12)
KY_df = pd.read_excel('../data/4XXXX/KY_jobs.xlsx', skiprows=12)
MI_df = pd.read_excel('../data/4XXXX/MI_jobs.xlsx', skiprows=12)
OH_df = pd.read_excel('../data/4XXXX/OH_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 4XXXX.

In [3]:
combined_df = pd.concat([IN_df,KY_df,MI_df,OH_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region4_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region4_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region4_jobs['percent_change'] = region4_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region4_2000 = region4_jobs.iloc[0,1]
region4_2010 = region4_jobs.iloc[10,1]
region4_2020 = region4_jobs.iloc[20,1]

In [9]:
region4_2000_2010_change = (region4_2010-region4_2000)/region4_2000 *100
region4_2010_2020_change = (region4_2020-region4_2010)/region4_2010*100
region4_20_year_change = (region4_2020-region4_2000)/region4_2000*100

ZIP 4 REGIONAL FINDINGS

In [10]:
region4_jobs

    Year  employment_by_thosands  percent_change
0   2000             3781.512500             NaN
1   2001             3710.579167       -1.875793
2   2002             3654.833333       -1.502349
3   2003             3622.241667       -0.891742
4   2004             3632.933333        0.295167
5   2005             3648.791667        0.436516
6   2006             3645.558333       -0.088614
7   2007             3636.395833       -0.251333
8   2008             3582.704167       -1.476508
9   2009             3374.720833       -5.805205
10  2010             3366.047917       -0.256997
11  2011             3423.708333        1.713000
12  2012             3488.722917        1.898952
13  2013             3537.454167        1.396822
14  2014             3591.718750        1.534001
15  2015             3647.993750        1.566799
16  2016             3697.775000        1.364620
17  2017             3732.866667        0.948994
18  2018             3764.714583        0.853176
19  2019             3785.795833        0.559969
20  2020             3533.283333       -6.669998

REGION 4 2000-2010

In [11]:
region4_2000_2010_change

-10.98673039777956

REGION 4 2010-2020

In [12]:
region4_2010_2020_change

4.968301723769784

REGION 4 2000-2020

In [13]:
region4_20_year_change

-6.564282589748598

In [14]:
region4_jobs.to_csv('../data/zip4.csv',index=False)