In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 5.

In [2]:
IA_df = pd.read_excel('../data/5XXXX/ia_jobs.xlsx', skiprows=12)
MN_df = pd.read_excel('../data/5XXXX/mn_jobs.xlsx', skiprows=12)
MT_df = pd.read_excel('../data/5XXXX/mt_jobs.xlsx', skiprows=12)
ND_df = pd.read_excel('../data/5XXXX/nd_jobs.xlsx', skiprows=12)
SD_df = pd.read_excel('../data/5XXXX/sd_jobs.xlsx', skiprows=12)
WI_df = pd.read_excel('../data/5XXXX/wi_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 5XXXX.

In [3]:
combined_df = pd.concat([IA_df,MN_df,MT_df,ND_df,SD_df,WI_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region5_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region5_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region5_jobs['percent_change'] = region5_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region5_2000 = region5_jobs.iloc[0,1]
region5_2010 = region5_jobs.iloc[10,1]
region5_2020 = region5_jobs.iloc[20,1]

In [9]:
region5_2000_2010_change = (region5_2010-region5_2000)/region5_2000 *100
region5_2010_2020_change = (region5_2020-region5_2010)/region5_2010*100
region5_20_year_change = (region5_2020-region5_2000)/region5_2000*100
region5_jobs['employment percent change since 2000']=(region5_jobs['employment_by_thosands']-region5_jobs.iloc[0,1])/(region5_jobs.iloc[0,1])*100
region5_jobs['employment percent change since 2010']=(region5_jobs['employment_by_thosands']-region5_jobs.iloc[10,1])/(region5_jobs.iloc[10,1])*100

ZIP 5 REGIONAL FINDINGS

In [10]:
region5_jobs

,Year,employment_by_thosands,percent_change,employment percent change since 2000,employment percent change since 2010
0,2000,1356.808333,NaN,0.000000,0.950602
1,2001,1352.351389,-0.328487,-0.328487,0.618992
2,2002,1340.105556,-0.905522,-1.231034,-0.292135
3,2003,1337.797222,-0.172250,-1.401164,-0.463882
4,2004,1352.550000,1.102766,-0.313849,0.633769
5,2005,1372.688889,1.488957,1.170435,2.132162
6,2006,1391.775000,1.390418,2.577126,3.552226
7,2007,1403.351389,0.831772,3.430334,4.413544
8,2008,1403.334722,-0.001188,3.429105,4.412304
9,2009,1351.233333,-3.712684,-0.410891,0.535805
10,2010,1344.031944,-0.532949,-0.941650,0.000000
11,2011,1360.934722,1.257617,0.304125,1.257617
12,2012,1380.666667,1.449882,1.758416,2.725733
13,2013,1399.286111,1.348584,3.130713,4.111075
14,2014,1419.077778,1.414412,4.589406,5.583635
15,2015,1438.784722,1.388715,6.041855,7.049890
16,2016,1455.234722,1.143326,7.254259,8.273820
17,2017,1467.420833,0.837398,8.152404,9.180503
18,2018,1480.438889,0.887139,9.111866,10.149085
19,2019,1487.375000,0.468517,9.623074,10.665152
20,2020,1406.493056,-5.437899,3.661882,4.647294

In [11]:
region5_jobs.to_csv('../data/zip5.csv',index=False)