In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 6.

In [2]:
IL_df = pd.read_excel('../data/6XXXX/il_jobs.xlsx', skiprows=12)
KS_df = pd.read_excel('../data/6XXXX/ks_jobs.xlsx', skiprows=12)
MO_df = pd.read_excel('../data/6XXXX/mo_jobs.xlsx', skiprows=12)
NE_df = pd.read_excel('../data/6XXXX/ne_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 6XXXX.

In [3]:
combined_df = pd.concat([IL_df,KS_df,MO_df,NE_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region6_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region6_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region6_jobs['percent_change'] = region6_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region6_2000 = region6_jobs.iloc[0,1]
region6_2010 = region6_jobs.iloc[10,1]
region6_2020 = region6_jobs.iloc[20,1]

In [9]:
region6_2000_2010_change = (region6_2010-region6_2000)/region6_2000 *100
region6_2010_2020_change = (region6_2020-region6_2010)/region6_2010*100
region6_20_year_change = (region6_2020-region6_2000)/region6_2000*100
region6_jobs['employment percent change since 2000']=(region6_jobs['employment_by_thosands']-region6_jobs.iloc[0,1])/(region6_jobs.iloc[0,1])*100
region6_jobs['employment percent change since 2010']=(region6_jobs['employment_by_thosands']-region6_jobs.iloc[10,1])/(region6_jobs.iloc[10,1])*100

ZIP 6 REGIONAL FINDINGS

In [10]:
region6_jobs

,Year,employment_by_thosands,percent_change,employment percent change since 2000,employment percent change since 2010
0,2000,2764.195833,NaN,0.000000,4.754070
1,2001,2749.366667,-0.536473,-0.536473,4.192092
2,2002,2708.968750,-1.469354,-1.997944,2.661142
3,2003,2681.231250,-1.023914,-3.001400,1.609981
4,2004,2691.641667,0.388270,-2.624784,2.004502
5,2005,2718.981250,1.015722,-1.635723,3.040583
6,2006,2754.447917,1.304410,-0.352649,4.384655
7,2007,2782.016667,1.000881,0.644702,5.429422
8,2008,2777.714583,-0.154639,0.489066,5.266387
9,2009,2662.377083,-4.152244,-3.683485,0.895469
10,2010,2638.747917,-0.887521,-4.538315,0.000000
11,2011,2662.635417,0.905259,-3.674140,0.905259
12,2012,2693.806250,1.170676,-2.546476,2.086533
13,2013,2719.962500,0.970977,-1.600224,3.077770
14,2014,2753.854167,1.246034,-0.374129,4.362154
15,2015,2796.016667,1.531036,1.151179,5.959976
16,2016,2821.525000,0.912310,2.073991,6.926660
17,2017,2839.670833,0.643121,2.730451,7.614328
18,2018,2858.795833,0.673494,3.422333,8.339103
19,2019,2872.693750,0.486146,3.925117,8.865789
20,2020,2705.268750,-5.828153,-2.131798,2.520924

In [11]:
region6_jobs.to_csv('../data/zip6.csv',index=False)