In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 7.

In [2]:
AR_df = pd.read_excel('../data/7XXXX/ar_jobs.xlsx', skiprows=12)
LA_df = pd.read_excel('../data/7XXXX/la_jobs.xlsx', skiprows=12)
OK_df = pd.read_excel('../data/7XXXX/ok_jobs.xlsx', skiprows=12)
TX_df = pd.read_excel('../data/7XXXX/tx_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 7XXXX.

In [3]:
combined_df = pd.concat([AR_df,LA_df,OK_df,TX_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region7_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region7_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region7_jobs['percent_change'] = region7_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region7_2000 = region7_jobs.iloc[0,1]
region7_2010 = region7_jobs.iloc[10,1]
region7_2020 = region7_jobs.iloc[20,1]

In [9]:
region7_2000_2010_change = (region7_2010-region7_2000)/region7_2000 *100
region7_2010_2020_change = (region7_2020-region7_2010)/region7_2010*100
region7_20_year_change = (region7_2020-region7_2000)/region7_2000*100

ZIP 5 REGIONAL FINDINGS

In [10]:
region7_jobs

    Year  employment_by_thosands  percent_change
0   2000             3510.897917             NaN
1   2001             3533.956250        0.656765
2   2002             3497.762500       -1.024171
3   2003             3481.318750       -0.470122
4   2004             3522.908333        1.194650
5   2005             3592.333333        1.970673
6   2006             3679.725000        2.432727
7   2007             3786.820833        2.910430
8   2008             3851.339583        1.703771
9   2009             3744.704167       -2.768788
10  2010             3745.916667        0.032379
11  2011             3815.322917        1.852851
12  2012             3909.643750        2.472159
13  2013             4003.579167        2.402659
14  2014             4107.512500        2.596010
15  2015             4186.487500        1.922697
16  2016             4219.820833        0.796212
17  2017             4280.150000        1.429662
18  2018             4367.827083        2.048458
19  2019             4448.735417        1.852370
20  2020             4247.839583       -4.515796

REGION 7 2000-2010

In [11]:
region7_2000_2010_change

6.6939784516187775

REGION 7 2010-2020

In [12]:
region7_2010_2020_change

13.399201352583944

REGION 7 2000-2020

In [13]:
region7_20_year_change

20.990119455433703

In [14]:
region7_jobs.to_csv('../data/zip7.csv',index=False)