In [2]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 8.

In [3]:
AZ_df = pd.read_excel('../data/8XXXX/az_jobs.xlsx', skiprows=12)
CO_df = pd.read_excel('../data/8XXXX/co_jobs.xlsx', skiprows=12)
ID_df = pd.read_excel('../data/8XXXX/id_jobs.xlsx', skiprows=12)
NM_df = pd.read_excel('../data/8XXXX/nm_jobs.xlsx', skiprows=12)
NV_df = pd.read_excel('../data/8XXXX/nv_jobs.xlsx', skiprows=12)
UT_df = pd.read_excel('../data/8XXXX/ut_jobs.xlsx', skiprows=12)
WY_df = pd.read_excel('../data/8XXXX/wy_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 8XXXX.

In [4]:
combined_df = pd.concat([AZ_df,CO_df,ID_df,NM_df,NV_df,UT_df,WY_df])

3. Group data by year, first step to find the mean for the region.

In [5]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [6]:
region8_jobs = avg_job_growth.mean(axis=1).reset_index()

In [7]:
region8_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [8]:
region8_jobs['percent_change'] = region8_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [9]:
region8_2000 = region8_jobs.iloc[0,1]
region8_2010 = region8_jobs.iloc[10,1]
region8_2020 = region8_jobs.iloc[20,1]

In [10]:
region8_2000_2010_change = (region8_2010-region8_2000)/region8_2000 *100
region8_2010_2020_change = (region8_2020-region8_2010)/region8_2010*100
region8_20_year_change = (region8_2020-region8_2000)/region8_2000*100

ZIP 8 REGIONAL FINDINGS

In [11]:
region8_jobs

    Year  employment_by_thosands  percent_change
0   2000             1157.646429             NaN
1   2001             1170.745238        1.131503
2   2002             1165.546429       -0.444060
3   2003             1173.040476        0.642964
4   2004             1207.684524        2.953355
5   2005             1255.930952        3.994953
6   2006             1306.923810        4.060164
7   2007             1334.553571        2.114107
8   2008             1325.897619       -0.648603
9   2009             1245.882143       -6.034816
10  2010             1228.123810       -1.425362
11  2011             1243.239286        1.230778
12  2012             1269.514286        2.113431
13  2013             1300.885714        2.471136
14  2014             1335.236905        2.640600
15  2015             1372.250000        2.772025
16  2016             1405.745238        2.440899
17  2017             1438.950000        2.362075
18  2018             1478.614286        2.756474
19  2019             1516.760714        2.579877
20  2020             1450.178571       -4.389759

REGION 8 2000-2010

In [12]:
region8_2000_2010_change

6.087988457697926

REGION 8 2010-2020

In [13]:
region8_2010_2020_change

18.080812389009964

REGION 8 2000-2020

In [14]:
region8_20_year_change

25.26955861800883

In [15]:
region8_jobs.to_csv('../data/zip8.csv',index=False)