In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Import state employment data from years 2000-2020. All included states have zipcodes that begin with 9.

In [2]:
AK_df = pd.read_excel('../data/9XXXX/ak_jobs.xlsx', skiprows=12)
CA_df = pd.read_excel('../data/9XXXX/ca_jobs.xlsx', skiprows=12)
HI_df = pd.read_excel('../data/9XXXX/hi_jobs.xlsx', skiprows=12)
OR_df = pd.read_excel('../data/9XXXX/or_jobs.xlsx', skiprows=12)
WA_df = pd.read_excel('../data/9XXXX/wa_jobs.xlsx', skiprows=12)

c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\12564\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2. Combine all state employment numbers to a common dataframe for all states with 9XXXX.

In [3]:
combined_df = pd.concat([AK_df,CA_df,HI_df,OR_df,WA_df])

3. Group data by year, first step to find the mean for the region.

In [4]:
avg_job_growth = combined_df.groupby('Year').mean()

4. Perform a mean on the group by data to get final numbers.

In [5]:
region9_jobs = avg_job_growth.mean(axis=1).reset_index()

In [6]:
region9_jobs.columns.values[1]='employment_by_thosands'

5. Convert numbers into percentage change based on year by year values for better comparison to other regions.

In [7]:
region9_jobs['percent_change'] = region9_jobs['employment_by_thosands'].pct_change()*100

6. Find percentage change from 2000 to 2010, 2010 to 2020, and 2000 to 2020

In [8]:
region9_2000 = region9_jobs.iloc[0,1]
region9_2010 = region9_jobs.iloc[10,1]
region9_2020 = region9_jobs.iloc[20,1]

In [9]:
region9_2000_2010_change = (region9_2010-region9_2000)/region9_2000 *100
region9_2010_2020_change = (region9_2020-region9_2010)/region9_2010*100
region9_20_year_change = (region9_2020-region9_2000)/region9_2000*100

ZIP 9 REGIONAL FINDINGS

In [10]:
region9_jobs

    Year  employment_by_thosands  percent_change
0   2000             3957.983333             NaN
1   2001             3981.385000        0.591252
2   2002             3946.340000       -0.880221
3   2003             3944.410000       -0.048906
4   2004             3996.408333        1.318279
5   2005             4085.443333        2.227875
6   2006             4172.128333        2.121802
7   2007             4221.850000        1.191758
8   2008             4191.891667       -0.709602
9   2009             3966.098333       -5.386431
10  2010             3926.998333       -0.985856
11  2011             3971.431667        1.131483
12  2012             4053.661667        2.070538
13  2013             4154.263333        2.481748
14  2014             4265.150000        2.669226
15  2015             4392.005000        2.974221
16  2016             4509.011667        2.664083
17  2017             4603.766667        2.101458
18  2018             4696.645000        2.017442
19  2019             4768.461667        1.529106
20  2020             4432.243333       -7.050876

REGION 9 2000-2010

In [11]:
region9_2000_2010_change

-0.7828481676274451

REGION 9 2010-2020

In [12]:
region9_2010_2020_change

12.865933649916652

REGION 9 2000-2020

In [13]:
region9_20_year_change

11.98236475646267

In [14]:
region9_jobs.to_csv('../data/zip9.csv',index=False)